#edicao3
  .timeline-title
    h1 Edição 3
  .row
    .highlight-img.float-right.edicao1
    .highlight-theme.small-centered
      h2= edicoes.ano3
  .timeline-box.row
    .timeline-numbers.medium-4.columns
      h3.tl-title Inscritos
      h3.tl-estatistica= content.terceira.inscritos
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.terceira.trabalhos
      h3.tl-place= content.terceira.local
    .timeline-curious.medium-4.columns
      h3= content.terceira.curiosidade1
