#edicao7
  .timeline-title
    h1 Edição 7
  .row
    .highlight-img.float-left.edicao1
    .highlight-theme.small-centered
      h2= edicoes.ano7
  .timeline-box.row
    .timeline-numbers.medium-4.columns
      h3.tl-title Inscritos
      h3.tl-estatistica= content.setima.inscritos
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.setima.trabalhos
      h3.tl-place= content.setima.local
    .timeline-curious.medium-4.columns
      p= content.setima.curiosidade2
