#edicao10
  .timeline-title
    h1 Edição 10
  .row
    .highlight-img.float-right.edicao1
    .highlight-theme.small-centered
      h2= edicoes.ano10
  .timeline-box.row
    .timeline-numbers.medium-4.columns
      h3.tl-title Inscritos
      h3.tl-estatistica= content.decima.inscritos
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.decima.trabalhos
      h3.tl-place= content.decima.local
    .timeline-curious.medium-4.columns
      p= content.decima.curiosidade2
