#edicao8
  .timeline-title
    h1 Edição 8
  .row
    .highlight-img.float-right.edicao1
    .highlight-theme.small-centered
      h2= edicoes.ano8
  .timeline-box.row
    .timeline-numbers.medium-4.columns
      h3.tl-title Inscritos
      h3.tl-estatistica= content.oitava.inscritos
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.oitava.trabalhos
      h3.tl-place= content.oitava.local
    .timeline-curious.medium-4.columns
      p= content.oitava.curiosidade2
