#edicao2
  .timeline-title
    h1 Edição 2
  .row
    .highlight-img.float-left.edicao1
    .highlight-theme.medium-centered
      h2= edicoes.ano2
  .timeline-box.row
    .timeline-numbers.medium-6.columns
      h3.tl-title Inscritos
      h3.tl-estatistica= content.segunda.inscritos
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.segunda.trabalhos
      h3.tl-place= content.segunda.local
    .timeline-curious.medium-4.columns
      h3= content.segunda.curiosidade1
      p= content.segunda.curiosidade2
