#edicao9
  .timeline-title
    h1 Edição 9
  .row
    .highlight-img.float-left.edicao1
    .highlight-theme.small-centered
      h2= edicoes.ano9
  .timeline-box.row
    .timeline-numbers.medium-4.columns
      h3.tl-title Inscritos
      h3.tl-estatistica= content.nona.inscritos
      h3.tl-title Trabalhos
      h3.tl-estatistica= content.nona.trabalhos
      h3.tl-place= content.nona.local
    .timeline-curious.medium-4.columns
      p= content.nona.curiosidade2
