section.edicoes(data-magellan-target="edicoes")
  .edicoes-balao
    img(src='./../../images/edicoes/balao-prata-01.png' alt='Balão prateado mais nítido' class='balao_dir')
    img(src='./../../images/edicoes/balao-prata-02.png' alt='Balão prateado simples ao fundo e à direita' class='balao_dir-fundo')
    img(src='./../../images/edicoes/balao-prata-03.png' alt='Balão prateado simples ao fundo e à esquerda' class='balao_esq-fundo')
    img(src='./../../images/edicoes/balao-prata-04.png' alt='Balão prateado simples ao fundo' class='balao_esq')
  #edicoes.nav-indicator
    h5 BBDG __ Edições Anteriores
    .indicator-line

  .row
    .section-title
      h1 As Edições
      h3 A evolução visual da Bienal Brasileira de Design Gráfico

  .edicoes-carousel
    .carousel-container.swiper-container
      button.edicoes-carousel_nav-backward Anterior
      button.edicoes-carousel_nav-foward Próximo
      .edicoes-carousel_content.swiper-wrapper
        .edicoes-carousel_box.swiper-slide.edicao1
          .info-wrapper
            h4 1992
            p= edicoes.tema1
        .edicoes-carousel_box.edicao2.swiper-slide
          .info-wrapper
            h4 1994
            p= edicoes.tema2
        .edicoes-carousel_box.edicao3.swiper-slide
          .info-wrapper
            h4 1996
            p= edicoes.tema3
        .edicoes-carousel_box.edicao4.swiper-slide
          .info-wrapper
            h4 1998
            p= edicoes.tema4
        .edicoes-carousel_box.edicao5.swiper-slide
          .info-wrapper
            h4 2000
            p= edicoes.tema5
        .edicoes-carousel_box.edicao6.swiper-slide
          .info-wrapper
            h4 2002
            p= edicoes.tema6
        .edicoes-carousel_box.edicao7.swiper-slide
          .info-wrapper
            h4 2004
            p= edicoes.tema7
        .edicoes-carousel_box.edicao8.swiper-slide
          .info-wrapper
            h4 2006
            p= edicoes.tema8
        .edicoes-carousel_box.edicao9.swiper-slide
          .info-wrapper
            h4 2009
            p= edicoes.tema9
        .edicoes-carousel_box.edicao10.swiper-slide
          .info-wrapper
            h4 2011
            p= edicoes.tema10
        .edicoes-carousel_box.edicao11.swiper-slide
          .info-wrapper
            h4 2013
            p= edicoes.tema11
        .edicoes-carousel_box.edicao12.swiper-slide
          .info-wrapper
            h4 2015
            p= edicoes.tema12
      .edicoes-carousel_nav-indicator
