section.edicoes(data-magellan-target="edicoes")
  .edicoes-balao
    img(src='./../../images/edicoes/balao-prata-01.png' alt='Balão prateado mais nítido' class='balao_dir')
    img(src='./../../images/edicoes/balao-prata-02.png' alt='Balão prateado simples ao fundo e à direita' class='balao_dir-fundo')
    img(src='./../../images/edicoes/balao-prata-03.png' alt='Balão prateado simples ao fundo e à esquerda' class='balao_esq-fundo')
    img(src='./../../images/edicoes/balao-prata-04.png' alt='Balão prateado simples ao fundo' class='balao_esq')

  #edicoes.nav-indicator
    h5 BBDG __ Edições Anteriores
    .indicator-line

  .row
    .section-title
      h1 As Edições
      h3 A evolução visual da Bienal Brasileira de Design Gráfico

  .edicoes-carousel
    .edicoes-carousel_content
      a(href="#edicao1").edicoes-carousel_box
        .swiper-slide.edicao1
          .gradient-overlay
            .info-wrapper
              h4 Edição 1
              p= edicoes.ano1

      a(href="#edicao2").edicoes-carousel_box
        .edicao2
          .gradient-overlay
            .info-wrapper
              h4 Edição 2
              p= edicoes.ano2

      a(href="#edicao3").edicoes-carousel_box
        .edicao3
          .gradient-overlay
            .info-wrapper
              h4 Edição 3
              p= edicoes.ano3

      a(href="#edicao4").edicoes-carousel_box
        .edicao4
          .gradient-overlay
            .info-wrapper
              h4 Edição 4
              p= edicoes.ano4

      a(href="#edicao5").edicoes-carousel_box
        .edicao5
          .gradient-overlay
            .info-wrapper
              h4 Edição 5
              p= edicoes.ano5

      a(href="#edicao6").edicoes-carousel_box
        .edicao6
          .gradient-overlay
            .info-wrapper
              h4 Edição 6
              p= edicoes.ano6

      a(href="#edicao7").edicoes-carousel_box
        .edicao7
          .gradient-overlay
            .info-wrapper
              h4 Edição 7
              p= edicoes.ano7

      a(href="#edicao8").edicoes-carousel_box
        .edicao8
          .gradient-overlay
            .info-wrapper
              h4 Edição 8
              p= edicoes.ano8

      a(href="#edicao9").edicoes-carousel_box
        .edicao9
          .gradient-overlay
            .info-wrapper
              h4 Edição 9
              p= edicoes.ano9

      a(href="#edicao10").edicoes-carousel_box
        .edicao10
          .gradient-overlay
            .info-wrapper
              h4 Edição 10
              p= edicoes.ano10

      a(href="#edicao11").edicoes-carousel_box
        .edicao11
          .gradient-overlay
            .info-wrapper
              h4 Edição 11
              p= edicoes.ano11

      a(href="#edicao12").edicoes-carousel_box
        .edicao12
          .gradient-overlay
            .info-wrapper
              h4 Edição 12
              p= edicoes.ano12
    .edicoes-carousel_nav-indicator
